body {
    padding-top: 50px;
}

#loginheader {
    padding: 40px 15px;
    text-align: center;
}

.login {
    padding: 40px 15px;
    text-align: center;
}

.datepickers {
    padding: 40px 15px;
    text-align: center;
}

.datepickers-inner {
    width: 280px;
    margin: 0 auto;
}

.download_links {
    padding: 40px 15px;
    text-align: center;
}

.button {
    margin-top: 30px;
}

label {
    margin-right: 10px;
}


table {
    border-collapse: collapse;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    padding: 5px;
}

tr:nth-child(even) {background-color: lightgray}

th {
    background-color: #4CAF50;
    color: white;
}